---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Hero from "../components/Hero.astro";
import EcosystemSection from "../components/EcosystemSection.astro";
import UpgradeStatement from "../components/UpgradeStatement.astro";
import EcosystemExamples from "../components/EcosystemExamples.astro";
import WorkLoop from "../components/WorkLoop.astro";
import KernelSection from "../components/KernelSection.astro";
import OrganizationSection from "../components/OrganizationSection.astro";
import BoundarySection from "../components/BoundarySection.astro";
import DigitalTwinSection from "../components/DigitalTwinSection.astro";
import KnowledgeSection from "../components/KnowledgeSection.astro";
import SurfacesSection from "../components/SurfacesSection.astro";
import GovernanceSection from "../components/GovernanceSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<BaseLayout>
  <SiteHeader />
  <main>
    <Hero />
    <WorkLoop />
    <KernelSection />
    <EcosystemSection />
    <UpgradeStatement />
    <EcosystemExamples />
    <OrganizationSection />
    <BoundarySection />
    <DigitalTwinSection />
    <KnowledgeSection />
    <SurfacesSection />
    <GovernanceSection />
  </main>
  <SiteFooter />
</BaseLayout>
